h1{
    color:blue;}

img{
    width: 400px;}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(19, 247, 14);
    padding: 50px;
    border: 5px rgb(226, 14, 14) solid;
}
#spanid{
    font-size: 18px;
    margin: 50px;
}